.app__row-image{
    border-radius: 15px;
    width: 20vh;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    max-height: 180px;
    height: 20vh;
    display: flex;
    margin: auto;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border: 4px solid aliceblue;
    background-color: aliceblue;
    img{
        width: 100%;
        height: auto;
        border-radius: 3px;
        margin: auto;
    }

    &.mini{
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        border-radius: 50%;
    }
}
.app__form-container{
    background-color: #fff;
    padding: 2rem 1rem;
    border: 2px solid #ccddd3;
    border-radius: 5px;
}
.app__files-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .upload{
        margin: auto;
        text-align: center;
    }
    .app__row-image{
        margin-bottom: 8px;
    }
}
.app__submit-row{
    width: 100%;
    text-align: right;
}
.skills-tooltip{
    border: 3px solid #ccddd3 !important;
}