.app_modalbox-testimonial{
    .form-box{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
}
.stack-loader{
    position: fixed;
    width: 100%;
    top: 1px;
    z-index: 10;
}