.app__testimonial {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.linkedin-link{
  text-decoration: none;
  color: #0063FF;
}
.app__testimonial-item {
  width: 60%;
  min-height: 320px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    min-height: 450px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.app__testimonial-content {
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--black-color);
    font-family: var(--font-base);

    @media screen and (min-width: 2000px) {
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }

  h4 {
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 2rem;
    .svg-inline--fa {
      font-size: 1.5rem;
      margin-right: 5px;
    }
  }

  h5 {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 5px;
  }

  @media screen and (max-width: 600px) {
    margin-top: 2rem;
    padding: 0;
  }
}

.app__testimonial-btns {
  flex-direction: row;
  margin-top: 1rem;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);

    margin: 1rem;
    transition: all 0.3s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      color: var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 100px;
      height: 100px;

      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
}

.app__testimonial-brands {
  width: 80%;
  flex-wrap: wrap;
  margin-top: 2rem;
  cursor: pointer;

  div {
    width: 150px;
    margin: 1.5rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: grayscale(1);
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 210px;
      margin: 2rem;
    }

    @media screen and (max-width: 450px) {
      width: 120px;
      margin: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.app__img{
  img{
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.head-text-testimonial{
  margin: 3rem 3rem !important;
}
.testimonials_buttons{
  width: 100%;
  justify-content: space-between;
  div.app_{
    margin: 20px 2rem
  }

  .button_enfasis{
    position: relative;
    .onhover{
      // display: block;
      opacity: 1;
      position: absolute;
      z-index: 5;
      transition: all 0.3s ease-out;
    }
    .offhover{
      // display: none;
      opacity: 0;
      z-index: 1;
      transition: all 0.3s ease-in;
    }
    &:hover{
      .onhover{
        // display: none;
        opacity: 0;
        z-index: 1;
      }
      .offhover{
        // display: block;
        opacity: 1;
        z-index: 5;
      }
    }
  }
}

.app__modal-testimonial-greetings{
  max-width: 500px !important;
  .title-greetings{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .body-greetings{
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: justify;
  }
  .bye-greetings{
    font-size: 0.9rem;
    font-weight: bold;
  }
}