.app__admin-wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.head-admin{
    margin-top: 45px !important;
}
.app_admin-container{
    border-color: #ccddd3;
    border-top: 3px solid #ccddd3;
    border-right: 2px solid #ccddd3;
    border-left: 2px solid #ccddd3;
    border-radius: 5px;
    height: 100%;
    background-color: #EDF4FF;
    padding-bottom: 4rem;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,244,255,1) 100%);
}